*.la
*.lo
*.o
*.tar.*
.deps
.libs
.pidgin
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
debian
include
INSTALL
libtool
libtool.m4
lt*.m4
Makefile
Makefile.in
pidgin
win32-install-dir
